<div class="table-editor-container">
  <ul class="tab-nav">
    <li ng-class="{active: currentTab == 'columns'}" ng-if="options.globalSeriesType != 'custom'">
      <a ng-click="setCurrentTab('columns')">Columns</a>
    </li>
    <li ng-class="{active: currentTab == 'grid'}">
      <a ng-click="setCurrentTab('grid')">Grid</a>
    </li>
  </ul>

  <div ng-if="currentTab == 'grid'" class="m-t-10 m-b-10">
    <div class="form-group">
      <label>Items per page</label>
      <select ng-options="value for value in allowedItemsPerPage"
        ng-model="visualization.options.itemsPerPage" class="form-control">
      </select>
    </div>
  </div>

  <table-editor-columns ng-if="currentTab == 'columns'" columns="visualization.options.columns" update-columns="updateColumns" />
</div>
